### 주식 정보 가져오기
* url=https://finance.naver.com/item/sise_day.nhn?code=003490&page=1
* url로부터 html 가져오기 requests
* 가져온 html로부터 분석하기 BeautifulSoup
* 해당객체의 정보 가져오기

In [4]:
import requests
from bs4 import BeautifulSoup

In [5]:
url='https://finance.naver.com/item/sise_day.nhn?code=003490&page=1'

In [6]:
req=requests.get(url)
req

In [7]:
req.text[:100]

'\n\n\n\n\n\n\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n'

In [8]:
html=req.text
html[:200]

'\n\n\n\n\n\n\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n<link rel="stylesheet" type="text/css" href="/css/newstock.css?20200806200958"'

In [9]:
soup=BeautifulSoup(html,'html.parser')
type(soup)

bs4.BeautifulSoup

In [15]:
data=soup.select('table.type2 > tr')
len(data)

16

In [30]:
#o h l c 
for d in data:
    tgt=d.select('td')
    n=len(d.select('td.num'))
    if(n>0):
        sdate=tgt[0].get_text().replace(".","")
        endp=tgt[1].get_text().replace(",","")
        startp=tgt[3].get_text().replace(",","")
        maxp=tgt[4].get_text().replace(",","")
        minp=tgt[5].get_text().replace(",","")
        vol=tgt[6].get_text().replace(",","")
        t=[int(sdate),int(startp),int(maxp),int(minp),int(endp),int(vol)]
        print(t)

[20200812, 19250, 20100, 19050, 19550, 8846552]
[20200811, 19350, 19550, 18850, 18900, 3632851]
[20200810, 19000, 19100, 18350, 18750, 3821098]
[20200807, 20500, 20950, 18850, 19100, 15844472]
[20200806, 17400, 18200, 17350, 18100, 5637601]
[20200805, 17400, 17500, 17100, 17250, 1410989]
[20200804, 17100, 17400, 17050, 17350, 1176523]
[20200803, 17350, 17350, 17000, 17150, 1738510]
[20200731, 17400, 17500, 17100, 17400, 1733960]
[20200730, 17500, 17650, 17300, 17400, 1859030]

In [32]:
import cx_Oracle

In [88]:
uid='PROJECT1'
upw='test1234'
url='localhost:1521/orcl'
conn=cx_Oracle.connect(uid,upw,url)
cursor=conn.cursor()
print(cursor)

<cx_Oracle.Cursor on <cx_Oracle.Connection to PROJECT1@localhost:1521/orcl>>

##에러처리
for error in curr.getbatcherrors():
    print("Error", error.message.rstrip(), "at row offset", error.offset)

In [89]:
#data=[20200812, 19250, 20100, 19050, 19550, 8846552]
def insertStock(data=[]):
    sql="insert into STOCKNAV (SIDX,SDATE,OPENP,HIGHP,LOWP,CLOSEP,VOL,SSTAT)  values(STOCK_SEQ.NEXTVAL,{0},{1},{2},{3},{4},{5},0)"
    sql1=sql.format(*data)
    try:
        cursor.execute(sql1)
        return(1)
    except:
        print(cursor.getbatcherrors())
        for error in cursor.getbatcherrors():
             print("Error", error.message.rstrip())
        print("[error]",sql1)
        return(0)
insertStock(data)

[]
[error] insert into STOCKNAV (SIDX,SDATE,OPENP,HIGHP,LOWP,CLOSEP,VOL,SSTAT)  values(STOCK_SEQ.NEXTVAL,20200811,19250,20100,19050,19550,8846552,0)

0

In [90]:
data=[20200811, 19250, 20100, 19050, 19550, 8846552]
def addData(data):
    sql="select * from STOCKNAV where SDATE="+str(data[0])
    cursor.execute(sql)
    res=cursor.fetchall()
    if(len(res)>0):
        print("데이터 중복")
    else:
        print("입력가능 ")
        insertStock(data)
        conn.commit()
addData(data)

데이터 중복